body {
    overflow: hidden;
  }

#Titre{
    font-family: Bahnschrift;
    text-shadow: 0 0 10px #a51e88, 2px 2px 2px rgba(206,89,55,0);
    color: #FFFFFF;
    background: #0B062C;
    font-size: 600%;
}

#PleinEcran{
  background-color: transparent;
  border: 0px;
  position:absolute;left:1320px;top:3px;
}

#PleinEcranImg{
  width: 40px;
}