body {
    overflow: hidden;
  }

#Titre {
    font-family: Bahnschrift;
    text-shadow: 0 0 10px #a51e88, 2px 2px 2px rgba(206,89,55,0);
    color: #FFFFFF;
    background: #0B062C;
    font-size: 600%;
    }

#Haut {
    width: 100px;
    position:absolute;left: 200px;top: 240px;
}

#Bas{
    width: 100px;
    position:absolute;left: 200px;top: 420px;

}

#HautMouv{
    width:100px;
}

#BasMouv{
    width:100px;
}

#clavierZ{
    width: 35px;
    position:absolute;left: 20px;top: 280px;
}

#ou1{
    position:absolute;left: 70px;top: 280px;
    color: #FFFFFF;
    font-family: Bahnschrift;
}

#clavierHaut{
    width: 35px;
    position:absolute;left: 100px;top: 280px;
}

#clavierS{
    width: 35px;
    position:absolute;left: 20px;top: 450px;
}

#ou2{
    position:absolute;left: 70px;top: 450px;
    color: #FFFFFF;
    font-family: Bahnschrift;
}

#clavierBas{
    width: 35px;
    position:absolute;left: 100px;top: 450px;
}

#ligneHaut{
    width: 1500px;
    position:absolute;left: 80px;top: 10px;
}

#ligneBas{
    width: 1500px;
    position:absolute;left: 80px;top: 180px;
}

#PleinEcran{
    background-color: transparent;
    border: 0px;
    position:absolute;left:1320px;top:3px;
}

#PleinEcranImg{
    width: 40px;
}
